.name-title {
  text-align: right;
}


.menu-item, .menu-title, .menu-icon {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
}

.active-menu-item {
  background-color: lightslategrey;
}

.project-row {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
}

.project-description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rounded-image {
    border-radius:25%;
    max-height: 250px;
}

.hidden {
    display: none;
}

.projectControls h1{
    font-size: 12pt;
}

.rowBox {
    border: 1px solid lightgray;
    border-radius: 25px;
    margin: 5px 0 5px 0;
    padding: 5px;
}

h1{
    font-size:1.5em;
}

.aboutMeSection {
    padding: 5px;
}

.workItem h1 {
    font-size:1.25em;
}

h2 {
    font-size:1em;
    margin:0;
    font-style: italic;
}

h3 {
    font-size:1em;
}


html {
  overflow-y: scroll;
}